## cdcdb final triplets cleaning
#### Jianfeng Ke
#### jianfeng_ke@student.uml.edu

In [4]:
import re
import os
import numpy as np
import pandas as pd

# this is the directory where you save your cdcdb merged table
cdcdb_dir = cdcdb_dir
# check if you have the required file
if not os.path.exists(cdcdb_dir+'drugcombo_max2_drugs_conditions_MeSH_IDs.txt'):
    print("You don't have the cdcdb merged table, review readme.txt and back to the previous step!")

In [5]:
# read cdcdb dcomb
cdcdb_dcomb_file = cdcdb_dir+'drugcombo_max2_drugs_conditions_MeSH_IDs.txt'
cdcdb_dcomb = pd.read_csv(cdcdb_dcomb_file, sep='\t')
# build the drug comb + condition files
drug1_list, drug2_list, cond_list = [], [], []
for i in range(cdcdb_dcomb.shape[0]):
    db_string = cdcdb_dcomb['drugbank_identifiers'][i]
    split_strings = db_string.split(';')
    drug_pair = []
    for s in split_strings:
        drug_pair.extend(re.findall(r'DB\S+', s))
    drug1_list.append(drug_pair[0])
    drug2_list.append(drug_pair[1])
    cond_list.append(cdcdb_dcomb['MESH_CODE'][i])
# make a new dataframe with 3 columns: drug1, drug2, and condition
cdcdb_dcomb_cond = pd.DataFrame({
    'drug1': drug1_list,
    'drug2': drug2_list,
    'condition': cond_list
})

In [6]:
cdcdb_dcomb_cond

          drug1    drug2 condition
0       DB01004  DB00529   D012327
1       DB01004  DB00529   D015658
2       DB01004  DB00529   D000163
3       DB01004  DB00529   D017726
4       DB01004  DB00529   D012173
...         ...      ...       ...
140921  DB00977  DB09389       NaN
140922  DB00977  DB00823       NaN
140923  DB00304  DB00977       NaN
140924  DB00977  DB00957       NaN
140925  DB00286  DB00603       NaN

[140926 rows x 3 columns]